* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  max-width: 144.4rem;
}

body {
  font-size: 1.4rem;
  font-family: monospace;
  background-color: rgb(54, 54, 54);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  color: white;
}

canvas {
  // display: block;
  // margin: 2rem auto;
}

.username {
  background-color: rgba(0, 0, 0, 0.623);
  color: white;
  position: absolute;
  top: 26rem;
  left: 53rem;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 10px;
  text-align: center;
  font-weight: bold;
  z-index: 50;
  &:focus {
    outline: none;
  }
}

.leaderboard {
  display: flex;
  flex-direction: column;
  &__data {
    margin-top: 2rem;
    & li {
      &:first-child {
        color: yellow;
      }
      display: flex;
      justify-content: space-between;
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
  }
}

.error {
  border: 1px solid red;
}
